In [62]:
import selenium
import pandas as pd
from selenium import webdriver

In [63]:
driver=webdriver.Chrome("Desktop/chromedriver.exe")

In [64]:
driver.get("https://www.naukri.com/")

In [65]:
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Analyst")
search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Banglore")

In [66]:
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [67]:
url="https://www.naukri.com/data-analystdata-analystbanglore-jobs?k=data%20analystdata%20analystbanglore"

In [68]:
job_title=[]
company_names=[]
locations_list=[]
experience_list=[]

In [69]:
titles_tag=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tag[0:9]

[<selenium.webdriver.remote.webelement.WebElement (session="894eabb6d0813433bc99fa5ec9044205", element="d3d6fc37-5ac0-473a-83df-6318da48011f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="894eabb6d0813433bc99fa5ec9044205", element="9f115047-2e65-47a9-8436-cff39406e15b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="894eabb6d0813433bc99fa5ec9044205", element="84ab70e2-5415-4322-9b8f-4ff9cf870015")>,
 <selenium.webdriver.remote.webelement.WebElement (session="894eabb6d0813433bc99fa5ec9044205", element="5dc9b0a6-2b38-4be2-8b9e-5742732d2191")>,
 <selenium.webdriver.remote.webelement.WebElement (session="894eabb6d0813433bc99fa5ec9044205", element="305fa3ca-aa02-486a-8b64-9d5a1ed02426")>,
 <selenium.webdriver.remote.webelement.WebElement (session="894eabb6d0813433bc99fa5ec9044205", element="1523d01d-2589-4aa5-9c2d-dadee9326a84")>,
 <selenium.webdriver.remote.webelement.WebElement (session="894eabb6d0813433bc99fa5ec9044205", element="56ca2388-a4f1-47a2-8a39-6f044931a5f9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="894eabb6d0813433bc99fa5ec9044205", element="d6fe9cb1-435c-44ef-a254-87ebb8a89561")>,
 <selenium.webdriver.remote.webelement.WebElement (session="894eabb6d0813433bc99fa5ec9044205", element="11e222f8-2173-4f06-975a-bbfee1d6f8dd")>]

In [70]:
for i in titles_tag:
    job_title.append(i.text)
job_title[0:9]

['Data Analyst - SAP',
 'Hiring Data Analysts on Contract',
 'Senior Data Analyst',
 'Data Analyst',
 'Data Analyst -Azure Data lake, Azure Data factory',
 'Business / Data Analyst',
 'Data Analyst - O2C - Bangalore',
 'Intern Data Analyst',
 'NiFi Data Analyst']

In [71]:
company_tag=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tag[0:9]

[<selenium.webdriver.remote.webelement.WebElement (session="894eabb6d0813433bc99fa5ec9044205", element="e8aa1442-82dd-46e2-9953-1c84f987ed8e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="894eabb6d0813433bc99fa5ec9044205", element="70237580-c61f-4973-a3ec-386e4909806f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="894eabb6d0813433bc99fa5ec9044205", element="4d049011-9a10-4a49-8a94-b201e6e697a4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="894eabb6d0813433bc99fa5ec9044205", element="22c770ab-880a-439c-a15c-7a9ab6e2978a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="894eabb6d0813433bc99fa5ec9044205", element="2279c616-a2b9-4e7e-8c90-7b53889461eb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="894eabb6d0813433bc99fa5ec9044205", element="053e4b68-c855-4eb9-81bf-bd537d55b858")>,
 <selenium.webdriver.remote.webelement.WebElement (session="894eabb6d0813433bc99fa5ec9044205", element="4b5de0e1-10cf-4007-9cb0-b3a0c65b5628")>,
 <selenium.webdriver.remote.webelement.WebElement (session="894eabb6d0813433bc99fa5ec9044205", element="2cff5e03-fbbe-496a-9d5d-29f9af0a4a8f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="894eabb6d0813433bc99fa5ec9044205", element="347f3119-9910-4015-9b95-b8141ac51632")>]

In [72]:
for i in company_tag:
    company_names.append(i.text)
company_names[0:9]

['Boston Scientific Corporation',
 'Flipkart Internet Private Limited',
 'Schneider Electric',
 'Shell India Markets Private Limited',
 'Mindtree Limited',
 'IBM India Pvt. Limited',
 'RANDSTAD INDIA PVT LTD',
 'Outsource Big Data',
 'Capgemini Technology Services India Limited']

In [73]:
loc_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
loc_tag[0:9]

[<selenium.webdriver.remote.webelement.WebElement (session="894eabb6d0813433bc99fa5ec9044205", element="ed9645e6-c8e9-4f04-a5d2-e9341556d7d7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="894eabb6d0813433bc99fa5ec9044205", element="3e90b360-663a-4260-a0ca-f722a949ca98")>,
 <selenium.webdriver.remote.webelement.WebElement (session="894eabb6d0813433bc99fa5ec9044205", element="a5da2e23-c346-4a5a-9925-1ed3eb56f9ff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="894eabb6d0813433bc99fa5ec9044205", element="d6d4c67e-4b8f-417a-b3e1-214c341ab79f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="894eabb6d0813433bc99fa5ec9044205", element="3a6242d3-0764-4828-93d9-6f6fe77deb0d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="894eabb6d0813433bc99fa5ec9044205", element="59ef353f-ab16-4c31-a940-0e2aff3157fd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="894eabb6d0813433bc99fa5ec9044205", element="ca47602c-8564-4329-b5ad-750a66c3bde5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="894eabb6d0813433bc99fa5ec9044205", element="8d852d32-fdc8-440b-9900-6562cc068cb3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="894eabb6d0813433bc99fa5ec9044205", element="f879927a-4c79-46e4-bb46-6c6227eed81c")>]

In [74]:
for i in loc_tag:
    locations_list.append(i.text)
locations_list[0:9]

['Pune, Delhi, Bengaluru, Gurgaon',
 'Bengaluru',
 'Bengaluru / Bangalore',
 'Bengaluru',
 'Chennai, Pune, Bengaluru, Hyderabad',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru']

In [75]:
exp_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
exp_tag[0:9]

[<selenium.webdriver.remote.webelement.WebElement (session="894eabb6d0813433bc99fa5ec9044205", element="4906c8d0-3fe4-40be-9af1-6d6c3cfdc2ec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="894eabb6d0813433bc99fa5ec9044205", element="2a5c79d4-8ad1-4cdd-b4ed-a1479439d044")>,
 <selenium.webdriver.remote.webelement.WebElement (session="894eabb6d0813433bc99fa5ec9044205", element="fa17eb6b-67c2-4d00-833a-4de047937505")>,
 <selenium.webdriver.remote.webelement.WebElement (session="894eabb6d0813433bc99fa5ec9044205", element="b5b3fe7e-74c3-438e-a820-0294c9fd7937")>,
 <selenium.webdriver.remote.webelement.WebElement (session="894eabb6d0813433bc99fa5ec9044205", element="4bab1d2d-892f-4ad5-a401-0d27513341ab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="894eabb6d0813433bc99fa5ec9044205", element="8e644974-63bb-4fad-8a1d-ee827594a9e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="894eabb6d0813433bc99fa5ec9044205", element="0828fe9e-2c19-4b9c-8a69-db5e9a35abdd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="894eabb6d0813433bc99fa5ec9044205", element="712dd600-2f6b-4513-b39d-11a3fead4137")>,
 <selenium.webdriver.remote.webelement.WebElement (session="894eabb6d0813433bc99fa5ec9044205", element="e70c4c50-fbca-4f1c-ad67-eb38e24fa30e")>]

In [76]:
for i in exp_tag:
    experience_list.append(i.text)
experience_list[0:9]

['3-5 Yrs',
 '2-5 Yrs',
 '2-5 Yrs',
 '5-8 Yrs',
 '5-9 Yrs',
 '2-4 Yrs',
 '2-4 Yrs',
 '0-1 Yrs',
 '4-6 Yrs']

In [109]:
import pandas as pd
DataAnalyst=pd.DataFrame()
DataAnalyst['JOB_NAME']=job_title[0:9]
DataAnalyst['COMPANY']=company_names[0:9]
DataAnalyst['JOB_LOCATION']=locations_list[0:9]
DataAnalyst['EXPERIENCE']=experience_list[0:9]

In [110]:
DataAnalyst

,JOB_NAME,COMPANY,JOB_LOCATION,EXPERIENCE
0,Senior Data Scientist | CES IT LTD | CMMI Level 5,CES Ltd.,"Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, H...",2-7 Yrs
1,Sr Data Scientist,Concentrix Daksh Services India Private Limited.,"Pune, Mumbai, Bengaluru, Gurgaon, Kolkata",4-9 Yrs
2,Associate Data Scientist | 0-2 Years | Gurgaon,Xtage Technologies Private Limited,"Delhi NCR, Gurgaon",0-2 Yrs
3,Data Scientist,IBM India Pvt. Limited,Gurgaon Gurugram,6-8 Yrs
4,Data Scientist,IBM India Pvt. Limited,Gurgaon Gurugram,4-8 Yrs
5,Senior Data Scientist (Remote / Work from Home),Wallethub,"Chennai, Delhi NCR, Bengaluru",10-20 Yrs
6,Analyst/Senior Analyst - DATA Scientist,Tredence,"Chennai, Delhi NCR, Bengaluru",2-4 Yrs
7,Adv Data Scientist - CSP,MatrikonOPC,"Greater Noida, Bengaluru",2-5 Yrs
8,Senior/Lead Data Scientist,Editorialist YX India Private Limited,"Delhi NCR, Gurgaon",4-7 Yrs
9,Senior Data Scientist,Chegg India Pvt Ltd,Delhi,4-8 Yrs

#question 2

In [141]:
import selenium
import pandas as pd
from selenium import webdriver

In [142]:
driver=webdriver.Chrome("Desktop/chromedriver.exe")

In [143]:
driver.get("https://www.naukri.com/")

In [144]:
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Scientist")
search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Banglore")

In [145]:
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [146]:
url="https://www.naukri.com/data-scientist-jobs-in-banglore?k=data%20scientist&l=banglore"

In [147]:
driver.get(url)

In [148]:
job_title=[]
company_names=[]
locations_list=[]
experience_list=[]

In [149]:
titles_tag=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tag[0:9]

[<selenium.webdriver.remote.webelement.WebElement (session="5305f54fbe6b9b40c0546809d6dfaa5b", element="4c45aade-aba5-4df5-bce2-63aa3df0bae5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5305f54fbe6b9b40c0546809d6dfaa5b", element="fdc3273c-35b5-4385-b23e-a1d408c3554f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5305f54fbe6b9b40c0546809d6dfaa5b", element="ae35c415-d682-4ce5-a813-27c28809b2ac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5305f54fbe6b9b40c0546809d6dfaa5b", element="eb61e817-eff7-4856-aaee-80001f5c7fa8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5305f54fbe6b9b40c0546809d6dfaa5b", element="146f138a-671a-4c41-83ed-49702d9f5991")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5305f54fbe6b9b40c0546809d6dfaa5b", element="d5763870-5797-4d77-8c61-1a3ab7f69e1a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5305f54fbe6b9b40c0546809d6dfaa5b", element="886a9b9d-41e9-49b1-9589-b05dfcb005fc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5305f54fbe6b9b40c0546809d6dfaa5b", element="bfbda98a-a6f8-4a20-a105-e6815be596ff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5305f54fbe6b9b40c0546809d6dfaa5b", element="b348ff58-4914-4d58-bc32-6d4c7f96d43a")>]

In [150]:
for i in titles_tag:
    job_title.append(i.text)
job_title[0:9]

['Data Scientist/Data Analyst-immediate',
 'Data Scientist - Python/ MATLAB/ Machine Learning Algorithms',
 'Lead Data Scientist - Machine Learning/ Data Mining',
 'Data Scientist - Machine Learning (Commerce BU)',
 'Data Scientist',
 'Opening For Sr. Data Scientist @ Tech Mahindra',
 'Opening For Sr. Data Scientist @ Tech Mahindra',
 'Senior Data Scientist - NLP/ Python/ R',
 'Senior Data Scientist | CES IT LTD | CMMI Level 5']

In [151]:
company_tag=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tag[0:9]

[<selenium.webdriver.remote.webelement.WebElement (session="5305f54fbe6b9b40c0546809d6dfaa5b", element="81de0051-11f4-46c7-80ae-21b7ea75e580")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5305f54fbe6b9b40c0546809d6dfaa5b", element="3d3b8f9d-88ac-446f-a483-82ea5292fb4a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5305f54fbe6b9b40c0546809d6dfaa5b", element="1defc4f6-47ad-46cd-97c0-d8d54543b9c9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5305f54fbe6b9b40c0546809d6dfaa5b", element="d5b20a2d-2843-4ed1-9111-0339b6f09677")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5305f54fbe6b9b40c0546809d6dfaa5b", element="d4107fdf-9165-4142-a4f7-c1090d25288b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5305f54fbe6b9b40c0546809d6dfaa5b", element="e8c5bb97-e654-4427-99cb-15fd03a39ad7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5305f54fbe6b9b40c0546809d6dfaa5b", element="5be21fd4-4515-42ff-be7c-631a783962c5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5305f54fbe6b9b40c0546809d6dfaa5b", element="52e2ac66-2498-4dae-a18e-0b5b9dd02e2e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5305f54fbe6b9b40c0546809d6dfaa5b", element="dbbd5b57-7735-41c5-a61e-563939f0dc43")>]

In [152]:
for i in company_tag:
    company_names.append(i.text)
company_names[0:9]

['Inflexion Analytix Private Limited',
 'Wrackle Technologies Pvt Ltd',
 'Wrackle Technologies Pvt Ltd',
 'BLUE YONDER INDIA PRIVATE LIMITED',
 'Atos Syntel Private Limited',
 'Tech Mahindra Ltd.',
 'Tech Mahindra Ltd.',
 'AVI Consulting LLP',
 'CES Ltd.']

In [153]:
loc_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
loc_tag[0:9]

[<selenium.webdriver.remote.webelement.WebElement (session="5305f54fbe6b9b40c0546809d6dfaa5b", element="cfd27c2f-6f72-46b8-853c-1ebad8a17849")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5305f54fbe6b9b40c0546809d6dfaa5b", element="26dfdfce-c1e9-43ed-8398-1f97c7ed65e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5305f54fbe6b9b40c0546809d6dfaa5b", element="366a1445-0c6b-466a-bcaa-6b577ec59e1a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5305f54fbe6b9b40c0546809d6dfaa5b", element="da167f7e-d220-4d4f-9729-17a7637ebec0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5305f54fbe6b9b40c0546809d6dfaa5b", element="8176e93a-3c3e-4ce2-b532-3ae9931c28c5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5305f54fbe6b9b40c0546809d6dfaa5b", element="de46ccfc-d39d-4f78-a9e5-712a22da2005")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5305f54fbe6b9b40c0546809d6dfaa5b", element="2899974d-8c97-4476-9f03-4840f1c4ec30")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5305f54fbe6b9b40c0546809d6dfaa5b", element="b6c19a19-9b46-417f-ab4e-074502366565")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5305f54fbe6b9b40c0546809d6dfaa5b", element="78323b1b-e779-4e8c-bf0b-668d7cce2788")>]

In [154]:
for i in loc_tag:
    locations_list.append(i.text)
locations_list[0:9]

['Chennai, Pune, Bengaluru, Hyderabad',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Chennai, Pune, Mumbai, Bengaluru',
 'Pune, Bengaluru',
 'Pune, Bengaluru',
 'Bengaluru, Hyderabad',
 'Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, Hyderabad, Kolkata']

In [155]:
exp_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
exp_tag[0:9]

[<selenium.webdriver.remote.webelement.WebElement (session="5305f54fbe6b9b40c0546809d6dfaa5b", element="5e7c48b6-1a58-469f-929f-0e5559ab2dba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5305f54fbe6b9b40c0546809d6dfaa5b", element="8b04a4ed-f91a-471d-b6be-c9b9aae50d85")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5305f54fbe6b9b40c0546809d6dfaa5b", element="902abc08-b756-437b-877e-69b0d195e1f7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5305f54fbe6b9b40c0546809d6dfaa5b", element="978ee102-3a36-4eab-b764-8510943b1f90")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5305f54fbe6b9b40c0546809d6dfaa5b", element="a960afb7-23cb-45db-bd2d-163e0c7c3da4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5305f54fbe6b9b40c0546809d6dfaa5b", element="90646068-abda-4933-b433-7d9f7b3b15c7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5305f54fbe6b9b40c0546809d6dfaa5b", element="fc693e89-5249-45ce-97dd-f17b68929646")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5305f54fbe6b9b40c0546809d6dfaa5b", element="541dd4c1-0084-432e-9933-acdd98ec1155")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5305f54fbe6b9b40c0546809d6dfaa5b", element="6896340c-f506-4a2e-ab41-d534824f65e3")>]

In [156]:
for i in exp_tag:
     experience_list.append(i.text)
experience_list[0:9]

['1-2 Yrs',
 '3-8 Yrs',
 '6-11 Yrs',
 '2-7 Yrs',
 '12-18 Yrs',
 '12-20 Yrs',
 '12-20 Yrs',
 '4-9 Yrs',
 '2-7 Yrs']

In [159]:
import pandas as pd
DataScientist=pd.DataFrame()
DataScientist['JOB_NAME']=job_title[0:9]
DataScientist['COMPANY']=company_names[0:9]
DataScientist['JOB_LOCATION']=locations_list[0:9]
DataScientist['EXPERIENCE']=experience_list[0:9]

In [160]:
DataScientist

,JOB_NAME,COMPANY,JOB_LOCATION,EXPERIENCE
0,Data Scientist/Data Analyst-immediate,Inflexion Analytix Private Limited,"Chennai, Pune, Bengaluru, Hyderabad",1-2 Yrs
1,Data Scientist - Python/ MATLAB/ Machine Learn...,Wrackle Technologies Pvt Ltd,Bengaluru,3-8 Yrs
2,Lead Data Scientist - Machine Learning/ Data M...,Wrackle Technologies Pvt Ltd,Bengaluru,6-11 Yrs
3,Data Scientist - Machine Learning (Commerce BU),BLUE YONDER INDIA PRIVATE LIMITED,Bengaluru,2-7 Yrs
4,Data Scientist,Atos Syntel Private Limited,"Chennai, Pune, Mumbai, Bengaluru",12-18 Yrs
5,Opening For Sr. Data Scientist @ Tech Mahindra,Tech Mahindra Ltd.,"Pune, Bengaluru",12-20 Yrs
6,Opening For Sr. Data Scientist @ Tech Mahindra,Tech Mahindra Ltd.,"Pune, Bengaluru",12-20 Yrs
7,Senior Data Scientist - NLP/ Python/ R,AVI Consulting LLP,"Bengaluru, Hyderabad",4-9 Yrs
8,Senior Data Scientist | CES IT LTD | CMMI Level 5,CES Ltd.,"Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, H...",2-7 Yrs
9,Sr Data Scientist,Concentrix Daksh Services India Private Limited.,"Pune, Mumbai, Bengaluru, Gurgaon, Kolkata",4-9 Yrs

#3question

In [87]:
import selenium
import pandas as pd
from selenium import webdriver

In [88]:
driver=webdriver.Chrome("Desktop/chromedriver.exe")

In [89]:
driver.get("https://www.naukri.com/")

In [90]:
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Scientist")
search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Delhi")

In [91]:
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']")
search_btn.click()

In [85]:
url="https://www.naukri.com/data-scientistdelhi-jobs?k=data%20scientistdelhi"

In [84]:
driver.get(url)

In [92]:
job_title=[]
company_names=[]
locations_list=[]
experience_list=[]

In [93]:
titles_tag=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="92a452e63623b31d10b4d746a91e9a61", element="8d178cc5-5e90-4b27-bf8d-5202adcb89e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="92a452e63623b31d10b4d746a91e9a61", element="23f74a40-0c01-4494-9cdd-0214dc5ddf4f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="92a452e63623b31d10b4d746a91e9a61", element="712707a7-2295-42a1-961c-a979e7b28359")>,
 <selenium.webdriver.remote.webelement.WebElement (session="92a452e63623b31d10b4d746a91e9a61", element="763b2b33-ac30-4833-b620-a1c93f15566a")>]

In [94]:
for i in titles_tag:
    job_title.append(i.text)
job_title[0:4]

['Senior Data Scientist | CES IT LTD | CMMI Level 5',
 'Sr Data Scientist',
 'Associate Data Scientist | 0-2 Years | Gurgaon',
 'Data Scientist']

In [96]:
company_tag=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="92a452e63623b31d10b4d746a91e9a61", element="0e70dc9a-54e2-4784-a946-e488b39a8428")>,
 <selenium.webdriver.remote.webelement.WebElement (session="92a452e63623b31d10b4d746a91e9a61", element="cea45f6e-67f0-471e-9758-dcc5e6ec0c8f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="92a452e63623b31d10b4d746a91e9a61", element="f8d9a6e8-3dc9-418d-9836-84f7c1966b40")>,
 <selenium.webdriver.remote.webelement.WebElement (session="92a452e63623b31d10b4d746a91e9a61", element="54d7f497-114f-4007-a084-873d647776ca")>]

In [97]:
for i in company_tag:
    company_names.append(i.text)
company_names[0:4]

['CES Ltd.',
 'Concentrix Daksh Services India Private Limited.',
 'Xtage Technologies Private Limited',
 'IBM India Pvt. Limited']

In [98]:
loc_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
loc_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="92a452e63623b31d10b4d746a91e9a61", element="d3adda9a-f04d-475c-9a71-56bd9d9e3759")>,
 <selenium.webdriver.remote.webelement.WebElement (session="92a452e63623b31d10b4d746a91e9a61", element="9e27f291-eadc-4dd0-a9f8-c47c902ebbb4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="92a452e63623b31d10b4d746a91e9a61", element="36de4075-f5cf-444d-857c-013a1fcd6f90")>,
 <selenium.webdriver.remote.webelement.WebElement (session="92a452e63623b31d10b4d746a91e9a61", element="1ecc424f-ebb6-4f56-b060-7a1ff7f4aef1")>]

In [100]:
for i in loc_tag:
    locations_list.append(i.text)
locations_list[0:4]

['Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, Hyderabad, Kolkata',
 'Pune, Mumbai, Bengaluru, Gurgaon, Kolkata',
 'Delhi NCR, Gurgaon',
 'Gurgaon Gurugram']

In [101]:
exp_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
exp_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="92a452e63623b31d10b4d746a91e9a61", element="21295e40-b37d-4d1f-9a52-2bf22f028527")>,
 <selenium.webdriver.remote.webelement.WebElement (session="92a452e63623b31d10b4d746a91e9a61", element="19545d15-ad5f-4342-9acc-de7c0e51b5ba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="92a452e63623b31d10b4d746a91e9a61", element="0627db55-3392-45fe-8b5c-3cb8f3050912")>,
 <selenium.webdriver.remote.webelement.WebElement (session="92a452e63623b31d10b4d746a91e9a61", element="dd64b660-1eb1-4974-b0f0-6f966e2a6cef")>]

In [102]:
for i in exp_tag:
    experience_list.append(i.text)
experience_list[0:4]

['2-7 Yrs', '4-9 Yrs', '0-2 Yrs', '6-8 Yrs']

In [107]:
import pandas as pd
DataScientist=pd.DataFrame()
DataScientist['JOB_NAME']=job_title[0:9]
DataScientist['COMPANY']=company_names[0:9]
DataScientist['JOB_LOCATION']=locations_list[0:9]
DataScientist['EXPERIENCE']=experience_list[0:9]

In [108]:
DataScientist

,JOB_NAME,COMPANY,JOB_LOCATION,EXPERIENCE
0,Senior Data Scientist | CES IT LTD | CMMI Level 5,CES Ltd.,"Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, H...",2-7 Yrs
1,Sr Data Scientist,Concentrix Daksh Services India Private Limited.,"Pune, Mumbai, Bengaluru, Gurgaon, Kolkata",4-9 Yrs
2,Associate Data Scientist | 0-2 Years | Gurgaon,Xtage Technologies Private Limited,"Delhi NCR, Gurgaon",0-2 Yrs
3,Data Scientist,IBM India Pvt. Limited,Gurgaon Gurugram,6-8 Yrs
4,Data Scientist,IBM India Pvt. Limited,Gurgaon Gurugram,4-8 Yrs
5,Senior Data Scientist (Remote / Work from Home),Wallethub,"Chennai, Delhi NCR, Bengaluru",10-20 Yrs
6,Analyst/Senior Analyst - DATA Scientist,Tredence,"Chennai, Delhi NCR, Bengaluru",2-4 Yrs
7,Adv Data Scientist - CSP,MatrikonOPC,"Greater Noida, Bengaluru",2-5 Yrs
8,Senior/Lead Data Scientist,Editorialist YX India Private Limited,"Delhi NCR, Gurgaon",4-7 Yrs
9,Senior Data Scientist,Chegg India Pvt Ltd,Delhi,4-8 Yrs

#question 7

In [35]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
import time

In [36]:
driver=webdriver.Chrome("Desktop/chromedriver.exe")

In [37]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace")

In [38]:
url="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace"

In [39]:
driver.get(url)

In [34]:
Rating=[]
Review_summary=[]
full_review=[]

In [74]:
rate_tag=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rev_tag=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
full_tag=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

In [75]:
for i in rate_tag:
    Rating.append(i.text)
Rating[0:10]

['3', '4', '4', '5', '5', '5', '3', '4']

In [76]:
for i in rev_tag:
    Review_summary.append(i.text)
Review_summary[0:10]

['Perfect product!',
 'Great product',
 'Highly recommended',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [77]:
for i in full_tag:
    full_review.append(i.text)
full_review[0:10]

['Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [86]:
import pandas as pd
Review_iphone=pd.DataFrame()
Review_iphone['RATING']=Rating[0:3]
Review_iphone['REVIEW_SUMMARY']=Review_summary[0:3]
Review_iphone['FULL_REVIEW']=full_review[0:3]

In [87]:
Review_iphone

,RATING,REVIEW_SUMMARY,FULL_REVIEW
0,3,Perfect product!,Amazing phone with great cameras and better ba...
1,4,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
2,4,Highly recommended,iphone 11 is a very good phone to buy only if ...

#question 8

In [52]:
import selenium
import pandas as pd
from selenium import webdriver

In [53]:
driver=webdriver.Chrome("Desktop/chromedriver.exe")

In [54]:
driver.get("https://www.flipkart.com")

In [56]:
brand=[]
product_description=[]
price=[]
discount=[]

In [57]:
url="https://www.flipkart.com/search?q=sneakers&sid=osp%2Ccil%2Ce1f&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_5_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_5_na_na_na&as-pos=1&as-type=RECENT&suggestionId=sneakers%7CMen%27s+Casual+Shoes&requestId=34685b56-d205-4e86-8ab8-c4cc4cf12d50&as-searchtext=sneak"

In [58]:
driver.get(url)